.game {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 1em;
  justify-content: center;
  flex-direction: row;

  .field {
    display: flex;
    flex-direction: column;
    transform: translateX(0%) perspective(340px) rotatey(-31deg);
    padding-top: 2em;

  .square {
    background: #f3f3f3;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 105px;
    margin: 5px;
    padding: 0;
    text-align: center;
    width: 75px;
    cursor: pointer;
    
  }
  .square:hover {
    background-color: red;
    
  }
}
.game-info {
  margin: 3em;
}
  
}

