main {
  .field {
    display: flex;
    flex-direction: row;
    transform: translateX(-10%) perspective(468px) rotatey(-31deg);
    padding-top: 2em;
    max-width: 20em;
    margin: 0 auto;
    height: 30em;

    .square {
      background: #f3f3f3;
      border: 4px solid #999;
      float: left;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      height: 105px;
      margin: 10px;
      padding: 0;
      text-align: center;
      width: 75px;
      cursor: pointer;
      box-shadow: 12px 0px 2px 1px #999;
    }

    .square:hover {
      background-color: rgb(179, 4, 179);
      box-shadow: 12px 0px 2px 1px purple;
      border: 4px solid purple;
    }
  }

  .info {
    margin: 3em auto;
    //for bem it is &__moves
    .info__moves {
      padding-left: 1em;
      li {
        button {
          margin: 0.5em;
        }
      }

      li:last-child {
        button {
          font-weight: bold;
        }
      }
    }
  }

}